{% block content %}

<div class="mid-section" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="innercommon">
                <div class="headingin text-center">Password Reset Complete</div>
            </div>
        </div>
        <div class="mainboxpad">
            <div class="col-md-12">
                <div class="row">
                    <center><p>
                        Your password has been set. You may go ahead and <b><a href="{% url 'frontend:login' %}">Sign in</a></b> now.
                    </p></center>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
