<p>Dear {{ user_name }},</p>
<p>Thank you for registering with this Network.</p>
<p><b>Keep the following information in a secure place for future reference:</b></p>
<p>Username/Email address: {{ user_name }} / {{ user_email }}</p>
<p>Password is: {{ user_password }} </p>
<p>Usernames and passwords are personal to each India Organic Network user and may not be shared with others.
    You may <a href="{{ base_url }}/change_password">change your password</a>
    Again, thank you for registering with us.
</p><br/>
<p>Thanks,</p>
<p>Test Site</p>